body {
  background-color: #111;
  color: white;
}

/* NAVBAR */

.nav-123 {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  padding: rem;
  z-index: 100;
  transition-timing-function: ease-in;
  transition: all 0.5s;
}

.nav-123-black {
  background-color: #111;
}

.navbar-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background: rgba(51, 51, 51, 0.5);
  text-decoration: none;
  z-index: 90;
}

#hackflix-logo {
  width: 10rem;
}

.navbar-buttons {
  margin-right: 1rem;
}

.dropdown-menu-search {
  background-color: black;
}

/* HEADER */

.header-12 {
  color: white;
  height: 50rem;
  object-fit: contain;
}

.header-fade {
  height: 20rem;
  background-image: linear-gradient(180deg, transparent, #111, #111);
}

/* MOVIES */

.movie-button {
  cursor: pointer;
  color: #fff;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  background: rgba(51, 51, 51, 0.5);
  text-decoration: none;
  z-index: 90;
}

.movie-overview {
  max-width: 50rem;
  z-index: 300;
}

.movie-poster {
  transition: transform 450ms;
  cursor: pointer;
  border-radius: 1rem;
}

.movie-poster:hover {
  transform: scale(1.08);
  border: rgb(141, 13, 13) solid 0.08rem;
}

.movie-content {
  padding-top: 30rem;
  height: 1rem;
}

.movie-button:hover {
  color: black;
  background: #e6e6e6;
  transition: all 0.5s;
  text-decoration: none;
}

.movie-detail-fade {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 20rem;
  background-image: linear-gradient(180deg, transparent, #111, #111);
  z-index: 100;
}

li {
  list-style: none;
}

/* FORM -SEARCH MOVIES */

.search-form {
  position: relative;
  text-align: center;
  top: 10rem;
}

.movies-search-form {
  position: relative;
  top: 18rem;
}

/* SCROLL BUTTON */

.scroll-button {
  position: fixed;
  width: 100%;
  bottom: 3rem;
  left: 45rem;
  height: 4rem;
  font-size: 3rem;
  z-index: 1;
  cursor: pointer;
  color: rgb(71, 15, 15);
}

#hamburguer-button {
  width: 3rem;
  margin: 1rem;
  cursor: pointer;
}
#close-button {
  width: 2rem;
  margin: 1rem;
  cursor: pointer;
}
